 /* RESET RULES */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

/* COLOR PALETTE */
:root {
    --bg-blue: #0061FF;
    --bg-white: #FFFFFF;
    --bg-lightBlue: #B4D0E7;
    --bg-black: #000;
    --bg-wine: #61082B;
    --bg-green: #A2D39B;
    --bg-lightGrey: #F5F5F5;
    --bg-darkBlue: #0D2481;
    --bg-red: #FF1C1C;
    --bg-darkRed: #D5001F;
    --bg-ocher: #FFD830;
}