 /* RESET RULES */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

ul,
ol,
menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
    display: block;
}

/* COLOR PALETTE */
:root {
    --bg-blue: #0061FF;
    --bg-white: #FFFFFF;
    --bg-lightBlue: #B4D0E7;
    --bg-black: #000;
    --bg-wine: #61082B;
    --bg-green: #A2D39B;
    --bg-lightGrey: #F5F5F5;
    --bg-darkBlue: #0D2481;
    --bg-red: #FF1C1C;
    --bg-darkRed: #D5001F;
    --bg-ocher: #FFD830;
}

/* UTILITY CLASSES */

/* containers */
.container-sm {
    max-width: 1000px;
    margin: 0 auto;
}

.container-lg {
    max-width: 1200px;
    margin: 0 auto;
}

.container-fluid {
    max-width: 100%;
}

/* rows */
.row {
    display: flex;
}

/* columns */
.col-4 {
    flex-basis: calc((100% / 12) * 4);
}
.col-6 {
    flex-basis: calc((100% / 12) * 6);
}
.col-8 {
    flex-basis: calc((100% / 12) * 8);
}
.col-12 {
    flex-basis: 100%;
}

/* buttons */
.button-bg-blue {
    background-color: var(--bg-blue);
}

.button-bg-white {
    background-color: var(--bg-white);
}